body {
	margin: 0 20px;
}

h1 {
	margin: 0 0 0 200px;
	font-size: 99px;
	font-family: Helvetica;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 21.5px;
	margin: -18px 0 0 210px;
	font-family: Helvetica;
}


.experience {
	margin: 50px 180px 0 500px;
}

.leadership {
	margin: 50px 180px 50px 500px;
}

.date {
	margin: 0 0 10px 0;
	font-size: 18px;
}

.employer {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 18px;
}





.skills {
	margin: -1100px 650px 0 0;
	text-align: right;
}

.awards {
	margin: 0 650px 0 0px;
	text-align: right;
}


.education {
	margin: 0 650px 0 0;
	text-align: right;
}





.software {
	margin: 10px 0 10px 200px;
	
}

p {
	margin: -10px 0 10px 0px
}

.writing {
	margin: 10px 0px 10px 40px;
}

.personal {
	margin: 0 0 50px 40px;
}

.WD {
	margin: 0 0 20px 0;
}

.cosmo {
	margin: 0 0 20px 0;
}

.wusa {
	margin: 0 0 20px 0;
}

.washu {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 15px 0;
}

.info {
	margin: 0 0 50px 0;
}


.dean {
	margin: 0 0 10px 200px;
}

.art {
	margin: 0 0 10px 200px;
}
