body {
	margin: 0 20px;
}

h1 {
	margin: 0 0 0 200px;
	font-size: 99px;
	font-family: Helvetica;
}

h3 {
	font-size: 21.5px;
	margin: -18px 0 0 210px;
	font-family: Helvetica;
}



.employer {
	font-family: Helvetica;
	font-weight: bold;
}

.education {
	margin: 50px 700px 0 100px;
	text-align: right;
}

.experience {
	margin: 50px 180px 0 500px;
}

.skills {
	margin: -1050px 700px 0 100px;
	text-align: right;
}

.awards {
	margin: 50px 700px 0 100px;
	text-align: right;
}

.leadership {
	margin: 50px 180px 50px 500px;
}
